@* ist eine PARTIELLE VIEW
    partielle Views werden in andere Views eingefügt
    kann dadurch mehrfach eingebunden werden - an verschiedenen Stellen
*@


<ul>
    <li>
        <a href="/user/index">Länder-Wettbewerbe</a>
    </li>
    <li>
        <a href="/shop/shop">Verein-Wettbewerbe</a>
    </li>
    <li>
        <a href="/shop/basket">Ligen</a>
    </li>
</ul>

